.container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.postContainer {
    width: 735px;
    height: 195px;
    padding: 13px;
    display: grid;
    border-radius: 9px;
    background-color: rgb(191, 222, 230);
}

.back {
    display: flex;
    align-self: flex-start;
    button {
        padding: 10px 14px;
        margin-left: 20px;
        background-color: aquamarine;
        border-radius: 10px;
        border: none;
    }

    button:hover {
        cursor: pointer;
    }
}
